.container {
  width: 100vw;
}

.main {
  position: relative;
  top: 110px;
  left: 0;
}

@media (min-width: 624px) {
  .container,
  .main {
    width: auto;
    max-width: 1460px;
    margin: unset;
    margin: 0 5vw;
  }
  .main {
    top: 150px;
  }
}
